@{
    ViewData["Title"] = "Home";
}

<style>
    /* Add custom styles to the button */
    .qr-scan-button {
        background-color: #007bff;
        color: #fff;
    }
</style>


    
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Custom jumbotron</h1>
            <p class="col-md-8 fs-4">Welcome to Project A - Your Easy Food Ordering App! Scan the QR code below to place your order.</p>

            <!-- QR Code Image (Replace with your actual QR code) -->
            <!-- Button to Trigger Ordering Process -->
            <button id="orderButton" class="btn btn-primary btn-lg mt-3 qr-scan-button" type="button">
                Scan QR Code <i class="fas fa-qrcode ml-2"></i>
            </button>
        </div>
    </div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
       
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Customer</h2>
            <p>Order food quickly and easily.</p>
            <a href="@Url.Action("Register", "Customer")" class="btn btn-primary">Register as Customer</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Add You're Own Shop</h2>
            <p>Manage your restaurant's orders.</p>
            <a href="@Url.Action("Register", "Shop")" class="btn btn-primary">Register as Shop</a>
        </div>
    </div>
</div>